{% extends "basic_app/base.html" %}
{% load staticfiles %}

{% block body_block %}

      {% if registered %}
      <div style="text-align: center;">
        <h1>Thank you for registering!</h1>
      </div>
      {% else %}
      <div style="text-align: center;">

        <h1>Register Here</h1>
        <h5>Just fill out the form.</h5>
      </div>
      <div class="container">
      <div class="jumbotron">
        <form class="form-2" enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" name="" value="Register" >
        </form>
      </div>
      </div>

      {% endif %}





{% endblock %}
