{% extends "basic_app/base.html" %}
{% load staticfiles %}
{% block body_block %}
<div class="cotainer">
<div class="jumbotron">
<h2 class="heading"> Who We Are?? </h2>
<p style="background-color:grey;color:white;padding:20px;"> We are the one who are trying to provide a platform to deal and understand the problems of the women. We want to make women confident enough to acheive their goals.
  We are providing number of features for solving and sharing the problems.
</p>
<p style="float: left; clear: left"><img src="{%static "images/basic_images/who_we_are.jpg" %}" alt="Empowering Women" style="width:200px;height:200px;"></p>
<p>Women's empowerment is the process in which women elaborate and recreate what it is that they can be, do, and accomplish in a circumstance that they previously were denied.Alternatively, it is the process for women to redefine gender roles that allows for them to acquire the ability to choose between known alternatives whom have otherwise been restricted from such an ability. There are several principles defining women's empowerment such as, for one to be empowered, they must come from a position of disempowerment. Furthermore, one must acquire empowerment themselves rather than have it given to them by an external party. Other studies have found that empowerment definitions entail people having the capability to make important decisions in their lives while also being able to act on them. Lastly, empowerment and disempowerment is relative to other at a previous time; therefore, empowerment is a process, not a product.

Women empowerment has become a significant topic of discussion in development and economics. It can also point to the approaches regarding other trivialized genders in a particular political or social context.

Women's economic empowerment refers to the ability for women to enjoy their right to control and benefit from the resources, assets, income and their own time, as well as the ability to manage risk and improve their economic status and well being.
</p>

</div>
</div>
{% endblock %}
